body {
    background-color: white;
    width: 100%;
}

#header-div {
    text-align: center;
    background-color: rgb(107, 181, 230);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

#homepage-container {
    text-align: center;
    left: 0;
    position: relative;
    margin-right: 15px;
}

a {
    text-decoration: none;
    height: 10px;
}

.material-symbols-outlined {
    font-size: 50px;
    color: black;
}

p {
    margin-top: 120px;
}